{
  "Records": [
    {
      "Sns": {
        "Message": "{\"AlarmName\":\"my alarm name\",\"AlarmDescription\":\"my alarm description\",\"AWSAccountId\":\"123456789ABC\",\"NewStateValue\":\"ALARM\",\"NewStateReason\":\"Threshold Crossed: 1 datapoint (1.0) was greater than the threshold (0.0).\",\"StateChangeTime\":\"2017-03-22T16:13:36.454+0000\",\"Region\":\"US East - N. Virginia\",\"OldStateValue\":\"INSUFFICIENT_DATA\",\"Trigger\":{\"MetricName\":\"my metric name\",\"Namespace\":\"LogMetricsError\",\"StatisticType\":\"Statistic\",\"Statistic\":\"SUM\",\"Unit\":null,\"Dimensions\":[],\"Period\":300,\"EvaluationPeriods\":1,\"ComparisonOperator\":\"GreaterThanThreshold\",\"Threshold\":0.0,\"TreatMissingData\":\"\",\"EvaluateLowSampleCountPercentile\":\"\"}}",
        "TopicArn": "arn:aws:sns:us-east-1:123456789123:TopicName"
      }
    }
  ]
}
